
.nav{
    width: 200px;
    margin-top: 50px;
    margin-left: 100px;
}

.navigationList{
    display: flex;
    justify-content: space-around;
}

.NavLink {
  
    text-transform: uppercase;
    color: black;
    font-weight: 600;
 
}

.activeNavLink {
color:orange;
}

